<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-skenterprises-agenticai-aqhfd8byaubnagbs.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/04290304-0ec5-4ee7-9562-00b57e6c8426/resourceGroups/azsinprd-SKEnterprises-devtest-rg-01/providers/Microsoft.Web/sites/func-skenterprises-AgenticAI</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://func-skenterprises-agenticai-aqhfd8byaubnagbs.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>